.lembretes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
    gap: 2rem;

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }

}

.card-date {
    color: #666;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 4px;
}

@media (max-width: 820px) {
    .options {
        flex-direction: column;
    }
}